/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

html {
	padding: 0;
	margin: 0;
}

body {
	background-color: #15130e;
	color: #f1f1f1;
	font-family: 'IBM Plex Mono', monospace;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.ai-c {
	align-items: center;
}

.jc-sb {
	justify-content: space-between;
}

.tree {
	font-size: 24px;
	font-weight: bold;
	color: #4e7842;
}

.highlighted {
	background: #4e7842;
}

h1 {
	font-size: 2.4em;
}

.padded {
	padding: 7em 0 7em 7em;
}

header {
	padding: 1em;
}

header h2 {
	padding: 5px;
}

.header-wrapper {
	position: relative;
	height: 600px;
	margin-bottom: 1.5em;
}

.snow-container {
	position: absolute;
	height: 100%;
	max-width: 960px;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 2;
	pointer-events: none;
	border-bottom: 4px solid #fff;
}

.snow {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-animation: snow linear infinite;
	animation: snow linear infinite;
}
.snow.foreground {
	background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
	-webkit-animation-duration: 15s;
	animation-duration: 15s;
}
.snow.foreground.layered {
	-webkit-animation-delay: 7.5s;
	animation-delay: 7.5s;
}
.snow.middleground {
	background-image: image-url(
		'https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png'
	);
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
}
.snow.middleground.layered {
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
}
.snow.background {
	background-image: image-url(
		'https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png'
	);
	-webkit-animation-duration: 30s;
	animation-duration: 30s;
}
.snow.background.layered {
	-webkit-animation-delay: 15s;
	animation-delay: 15s;
}

@-webkit-keyframes snow {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		-webkit-transform: translate3d(15%, 100%, 0);
		transform: translate3d(15%, 100%, 0);
	}
}

@keyframes snow {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		-webkit-transform: translate3d(15%, 100%, 0);
		transform: translate3d(15%, 100%, 0);
	}
}
